body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #01091c;
  color: white;
  text-align: center;
}

/* HEADER */
header {
  padding: 40px 20px;
  background-color: #0c0966;
  border-radius: 25px;
  margin: 20px;
}

/* IMAGE RONDE */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(111, 126, 122);
  margin-bottom: 20px;
  display:block;
  margin: 0 auto 20px auto;
}

/* SECTIONS */
section {
  padding: 30px;
}

h2 {
  color: #02d1f6;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background: #0f172a;
    padding: 15px 0;
    border-top: 1px solid #334155;
    border-bottom: 1px solid #334155;
}

.marquee {
    display: flex;
}

.marquee span {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    animation: scroll 15s linear infinite;

    /* Dégradé pro */
    background: linear-gradient(90deg, #38bdf8, #6366f1, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Glow effet développeur */
    text-shadow: 0 0 10px rgba(192, 188, 188, 0.7);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.photo-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}