/* ===== BODY ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #01091c;
  color: white;
  text-align: center;
}

/* ===== HEADER ===== */
header {
  padding: 40px 20px;
  background-color: #0c0966;
  border-radius: 25px;
  margin: 20px auto;
  width: 85%;
  max-width: 800px;
}

/* ===== IMAGE RONDE ===== */
.photo-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px auto;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(111, 126, 122);
}

/* ===== CADRE POUR CHAQUE SECTION ===== */
.section-card {
  background: #1f2937;
  margin: 30px auto;
  padding: 30px;
  width: 85%;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

/* ===== TITRES ===== */
h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

/* ===== SKILLS ===== */
.skill {
  margin-bottom: 20px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #374151;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #38bdf8, #9333ea);
}

/* Niveaux */
.html { width: 20%; }
.css { width: 10%; }

/* CONTAINER LANGUES */
.language-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* CARTE LANGUE */
.language-card {
  background: #111827;
  padding: 25px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.language-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.language-card img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.language-card h3 {
  margin-bottom: 15px;
}

/* BADGE NIVEAU */
.badge {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.green {
  background: #10b981;
}

.orange {
  background: #f59e0b;
}

.gray {
  background: #6b7280;
}

/* ===== CONTACT ===== */
.contact i {
  margin-right: 10px;
  color: #38bdf8;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  color: #38bdf8;
}

/* ===== LISTES ===== */
ul {
  padding-left: 20px;
}